
 
<p>
  <strong>Category Name:</strong>
  <%= @product.category.name %>
</p>

<p>
  <strong>Product Name:</strong>
  <%= @product.name %>
</p>
 

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>